.my-result-style{
    min-height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
    
    padding: 15px;
    
}
/* .pack{
    margin: 10px 0px;
    color: azure;
    padding: 10px;
    box-shadow: 1px 1px 3px #666;
    background-color: rgb(8, 85, 85);
} */
.result-text{
    margin: auto;
    width: 80%;
    margin-bottom:20px;
    font-size: 20px;
    font-weight: bold; 
    color: white;
    text-shadow: 1px 1px 1px #1e1e1e;
}